$bg-white: #fff;
$bg-black: #212226;
$bg-darkgray-01: #393d41;
$bg-darkgray-02: #5d6369;
$bg-lightgray-01: #F9FAFB;
$bg-lightgray-02: #EDF1F6;
$bg-hr: #3e4246;
$bg-hr-light: #F2EAE3;
$bg-button: #e6e6e6;
$bg-pre: #EDF1F6;
$bg-ins: #fff9c0;

$color-primary: #974EC3;
$color-secondary: #8FCB9B;
$color-text-light-01: #fff;
$color-text-light-02: #EAE6E5;
$color-text-light-03: #FE7BBF;
$color-text-primary: #12130F;
$color-text-secondary: #313866;
$color-text-screen: #21759b;
$color-text-input: #393A3D;
$color-text-input-focus: #111;
$color-link: #F06D49;
$color-link-visited: purple;
$color-link-hover: midnightblue;

$color-border-input: #ccc;
$color-border-abbr: #666;