// border-radius
$radius-xxl: 36px;
$radius-xl: 24px;
$radius-l: 12px;
$radius-m: 8px;
$radius-s: 4px;
/*--------------------------------------------------------------
## Val
--------------------------------------------------------------*/
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px;

// border-radius include
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
}